.home-page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: space-between; */
    /* border:1px solid black ; */
    padding: 40px;
    justify-items: center;
    gap:20px
}

.recipe-cont>h3{
    text-align: center;
}
.recipe-cont>img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    
}