.navbar{
    margin:0;
    /* padding: 10px 30px; */
    display: flex;
    flex-direction: column;
    /* border:  1px solid black; */
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}
.search-div{
    text-align: center;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap: 40px;
}
.search-div>input{
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    width: 500px;
    border: 1px solid black;
}
.search-div>button{
    border-radius: 20px;
}